#order {
    .order_menu {
        max-width: 1300px;
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            li {
                flex: 0 1 calc(100% / 3);
                max-width: calc(100% / 3);
                position: relative;
                border-bottom: 5px solid #f8a22f;
                padding-bottom: 15px;
                text-align: center;
                color: #3b3b3b;
                font-size: 30px;
                font-weight: 700;
                line-height: 12px;
                text-transform: uppercase;
                &:before,
                &:after {
                    content: "";
                    display: block;
                    width: 33px;
                    height: 33px;
                    background: #f8a22f;
                    border-radius: 50%;
                    position: absolute;
                    bottom: -19px;
                }
                &:before {
                }
                &:last-of-type:after {
                    content: "";
                    display: block;
                    right: 0;
                }
            }
        }
    }

    .table-wrapper {
        border: 1px solid #707070;
        border-radius: 50px;
        padding: 50px;
        table {
            width: 100%;
            thead {
                th {
                    &:first-of-type {
                        max-width: 156px;
                    }
                }
                th {
                    color: #f8a22f;
                }
            }
            tbody {
                td {
                    &:first-of-type {
                        max-width: 156px;
                    }
                }
                width: 156px;
            }
            th, td {
                padding: 20px;
                text-align: center;
            }
            tfoot {
                td:first-of-type {
                    text-align: right;
                }
            }
        }
    }
}